<div class="math_design">
<h1>Testas</h1>
<p>Pasirinkite teisinga atsakyma</p>
<p>Kelintais metais Europos cempionate Lietuviai pralaimejo finale Jugoslavijos komandai?</p>
<br>
<%= button_to @result, check_answers_correct_path, method: :post %>
<br>
<%= button_to @resultFake1, check_answers_incorrect_path, method: :post %>
<br>
<%= button_to @resultFake2, check_answers_incorrect_path, method: :post %>
<br>
<%= button_to @resultFake3, check_answers_incorrect_path, method: :post %>
</div>