<div class="main_design">
<h1>Krepsinis</h1>
<p>Testas</p>
<br>
<%= link_to "Zalgiris", functions_zalgiris_path %>
<br>
<%= link_to "Lietuvos rinktine", functions_atlanto_path %>
<br>
<%= link_to "Europos cempionatas", functions_Jugoslavija_path %>
<br>
<%= link_to "Uzimta vieta", functions_penktas_path %>
</div>