// Place all the styles related to the functions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main_design{
    color:red;
    text-align: center{
        position:fixed;
        top: 50%;
        left: 50%;
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: xx-large;

}
.math_design{
    color: violet;
    text-align: center{
        position:fixed;
        top: 50%;
        left: 50%;
    }
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: xx-large;

}